$app-bg: #1b1b1b;
$app-hl: rgb(11, 79, 156);
$app-fg: rgb(226, 226, 226);

$color-primary: #0d1b17;
$color-primary-focus: #2d463f;
$color-primary-click: #2d463f;
$color-primary-border-click: 3px solid #91a7a1;
$color-primary-border-focus: 3px solid #71817d; 