<div class="login-wrapper">
  <mat-card class="login">
    <mat-card-header><h2>Přihlášení</h2><br>
      <div class="alert" *ngIf="_a.isLoggedIn">Prosím zkontrolujte zadané přihlašovací údaje</div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput type="text" formControlName="email" placeholder="E-mail"><br>
          <mat-error>Prosím zadejte platný email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Heslo" formControlName="password"><br>
          <mat-error>Neplatné heslo</mat-error>
        </mat-form-field><br>
        <button type="submit" mat-flat-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>